$main_bg: #fff;
$main_color: #4267b2;


$main_text_color: $main_color;
$second_text_color: #8d8d8d;
$text_black: #000;
$text_white: #fff;


// $box_shadow: rgb(149 157 165 / 20%) 0px 8px 24px;

$main_bg_btn: $main_color;
$second_bg_btn: #fff;
$btn-main-color:#fff;

$header_height: 170px;
$header_tablet_height: 70px;
$header_mobile_height: 40px;
$header_shirk_height: 70px;

$colors: (
    'white': #fff,
    'pink': #ffa5ab,
    'black': #000,
    'yellow': #ffd449,
    'orange': #ff6b35,
    'blue': #73d2de,
    'main': $main_color,
    'red' : #f94144,
);

$numbers: 1, 2, 3, 4, 5, 6, 7 ,8;


